<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
  </configSections>
  <connectionStrings>
    <!--cadena de conexion para la base de datos informes-->
    <add name="proyecto_de_proquimicos.Properties.Settings.Ventas1ConnectionString"
      connectionString="Data Source=JAVIER\SQLEXPRESS;Initial Catalog=Ventas1;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    
    <!--Cadena de conexion para la base de datos Proquimicos-->
    <add name="proyecto_de_proquimicos.Properties.Settings.ProquimicosConnectionString"
      connectionString="Data Source=JAVIER\SQLEXPRESS;Initial Catalog=Proquimicos;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
     <startup> 
<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>

 